id = #  class = .ahaha
/* Website Body */
body {

}
.pageHeader nav {
	background: 
	height: 50 px;
	line-height: 30 px;
	margin: 0 auto 30
	text-align
	border-radius:
	-moz-border-radius: 
	-webkit-border-radius: 
}
.pageHeader nav ul li {
	float: left;
	display: inline;
}
